.search-form
  .form
    input(type="text", data-minchars="3", data-maxitems="7").search-input
    button.search-button(disabled="true", type="button") buscar
    a.save-search(href="javascript:void(0)") guardar búsqueda